/* This is the main css file for our project */ 
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
/* common to all pages : */
* {
  margin: 0;
  padding: 0;
  /*font-family: "Poppins", sans-serif;*/
  font-family: 'Work Sans'; 
  box-sizing: border-box;
}
body {
  background-color: #edf3f8;
  background-repeat: no-repeat;
  height: 90%;
  background-position: center;
  background-size: cover;
  margin: 0;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}


header {
  background: #295387;

}

header > p {
  color: white;
  font-size: 22px;
  padding: 5px;
  text-transform: uppercase;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #f3faee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #a8dadb;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #f3faee;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo img {
  float: left;
  padding: 10px ;
  width: 200px;
  height: 70px;
}

/* --------------------------------- css for websitepage ---------------------------- */   
  .mainbody {
    /*background-image: url(../imgs/background.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #d8e8f5;
    height: 90%;
    background-position: left;
    margin: 0;
    width: 100%;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .row {
    /*display: flex;*/ 
    height: 88%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .col:last-child {
   /* flex-basis: 50%; */ 
   display: grid;
   grid-template-columns: 1fr 1fr;
  }
  
  
  h1 {
    font-size: 50px;
    padding-bottom: 10px;
    color: #1d3557;
  }
  
  h5 {
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #1d3557;
  }
  
  p {
    font-size: 15px;
    line-height: 20px;
    color: #457b9d;
  }
  
  .card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 15px 20px;
    background-color: #cedded;
    transition: transform 0.5s;
  }
  
  .card p {
    font-size: 12px;
    line-height: 20px;
    color: #457b9d;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-15px);

  }
  
  .card1{
    background-image: url(../imgs/card1.jpg);
    background-position: center;
    background-size: cover;
  }

  .card2 {
    background-image: url(../imgs/card2.jpg);
    background-position: center;
    background-size: cover;
  
  }

  .card3 {
    background-image: url(../imgs/card3.jpg);
    background-position: center;
    background-size: cover;
  }
  .card4 {
    background-image: url(../imgs/card4.jpg);
    background-position: center;
    background-size: cover;

  } 

  .card {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    text-align: center;
  }
  .card .fadedbox {
    background-color: #cedded;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 130px 20px;
  }
  .card:hover .fadedbox {
    opacity: 0.8;
  }
  .card .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
  }
  .card .text {
    font-size: 2.5em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  .card:hover .text,
  .card:focus .text {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }


/* ------------------------------- css for the login page -------------------------------------- */

.login-body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.login-body {
    background-color: #f0faef;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: #a8dadb;
    padding: 50px 60px 70px;
    text-align:center;
}

.form-box p {
    text-align: left;
    margin-left: 45px;
}

.form-box h1 {
    text-align:center;
    font-size: 30px;
    margin-bottom: 60px;
    color: #1d3557;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #e53945;
    position:absolute;
    bottom:-12px;
    left: 50%;
    transform:translateX(-50%);
}

.input-field {
    /* background: #eaeaea; */
    margin: 15px 0;
    border-radius: 3px;
    /* align-items: center; */
}

.login-input {
    /* width: 100%; */
    /* background: transparent; */
    border: 0;
    outline: 0;
    padding: 8px 55px; 
    font-size: 14px;
}

.input-field i {
    padding-left: 20px;
}

.btn-field {
    width: 100%;
    display: flex;
    margin-left: 25%;
}

.btn-field button {
    flex-basis: 48%;
    background: #1d3557;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 220px;
}

/* --------------------------------------- */

/* -------------------------------------------  css for main homepage ---------------------------------- */

.dropbtn {
    background-color: #295387;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display:block;
}


/* ------------------------------ common css for add new student + edit  --------------------------------- */ 

/* Insert Box */
.insert-box {
  justify-content: center;
  margin: 80px 40px;
  width: 800px;
  height: 920px;
  padding: 40px;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  #cedded;
  box-shadow: 0 15px 15px #457b9d;
  border-radius: 20px;
  margin-top: 50px;
}
.insert-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #457b9d;
  text-align: center;
}

.insert-box .user-box {
  position: relative;
}

.insert-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #1d3557;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #1d3557;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #1d3557;
  pointer-events: none;
  transition: 0.5s;
}

.insert-box .user-box input:focus ~ label,
.insert-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1d3557;
  font-size: 12px;
}

.insert-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #1d3557;
  font-size: 20px;
  border-radius: 20px;
  overflow: hidden;
  transition: 1s;
  margin-bottom: 60px;
  letter-spacing: 4px;
  border: none;
  outline: none;
  text-align:center;
  margin-left: 10px;
}

form button:hover {
  background-color: #067606be;
  color: #fff;
  cursor: pointer;
}

.delete:hover{
  background-color: rgba(167, 0, 0, 0.963);
  color: #fff;
  cursor: pointer;
}


select {
  width: 70px;
  height: 20px;
  position: relative;
  top: auto;
  bottom: 10px;
  left: 150px;
  background-color: #dee7ef;
  border-radius: 5px;
  font-size: 16px;
}

.user-boxx {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #1d3557;
  margin-bottom: 10px;
  background: transparent;
}

.EditButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* ------------------------------ common css for tables pages  --------------------------------- */ 

.tableName{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px 3px;
  color: #295387;
}

.table{
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border:  1px solid #c3d5e8;
  font-size: 0.9em;
  min-width: 400px;
  width: 50%;
}

.table thead tr{
  background-color: #295387;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td{
  padding: 15px 15px;
}

.table th{
  text-align: left;
}

.table tbody tr{
  border-bottom: 1px solid #d3e4f5;
}

.table tbody tr:nth-of-type(even){
  background-color: #c3d5e8;
}

.switch { 
  position: relative; 
  display: inline-block; 
  width: 32px; 
  height: 17px; 
} 
 
.switch input { 
  opacity: 0; 
  width: 0; 
  height: 0; 
} 


.slider { 
  position: absolute; 
  cursor: pointer; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: #9fb0c0; 
  -webkit-transition: .4s; 
  transition: .4s; 
} 

.slider:before { 
  position: absolute; 
  content: ""; 
  margin: 0; 
  padding: 0; 
  height: 15px; 
  width: 15px; 
  left: 1px; 
  bottom: 1px; 
  background-color: white; 
  -webkit-transition: .4s; 
  transition: .4s; 
} 

input:checked + .slider { 
  background-color: #067606be; 
} 

input:focus + .slider { 
  box-shadow: 0 0 1px #067606be; 
} 

input:checked + .slider:before { 
  -webkit-transform: translateX(15px); 
  -ms-transform: translateX(15px); 
  transform: translateX(15px); 
} 

.slider.round { 
  border-radius: 34px; 
} 

.slider.round:before { 
  border-radius: 50%; 
}
.Edit-S{
  background-color: #295387;
  border: none;
  text-align: center;
  transition: 0.4s;
  padding: 8px 25px;
  border-radius:12px;
  width: 35%;
  float: left;
}

.Edit-S:hover {
  background-color: #067606be;
  color: white;  
}

.Delet-S{
  background-color: #295387;
  border: none;
  color: white;
  text-align: center;
  transition: 0.4s;
  padding: 8px 25px;
  border-radius:12px;
  width: 35%;
  float: right;
}

.Delet-S:hover {
  background-color: rgba(167, 0, 0, 0.963);
  color: white;
}

.edit_img_S{
  color:white;
  width: 14px;
  height: 14px
}

.dropDep{
  width: 100%;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #dee7ef;
}

.dropTable.center{
  margin-left: auto;
  margin-right: auto;
  }

.depTableName{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px 3px;
  color: #295387;
}

.searchBox {
  position: absolute;
  button: 50%;
  left: 20px;
  top: 40px;
  transform:  translate(45px,45px);
  background: #c3d5e8;
  height: 25px;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
  display:flex;
  flex-direction: row-reverse;
  margin-top:10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.4s;

}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:right;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  outline: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchInput placeholder{
  color: white;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.saveDep:hover{
  background-color: #a8dadb;
}

.saveDep{
  background-color: #295387;
  border: none;
  color: #a8dadb;
  text-align: center;
  transition: 0.4s;
  padding: 12px 12px;
  border-radius:12px;
  width: 80px;
  margin: 10px 10px;
  position: right;
  margin-left: 70%;
  margin-top: 25px;
}

.saveDep:hover {
  background-color: #94c0e7;
  color: #295387;
}

.clr{
  clear:both;
}