{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Active/Inactive Students</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <script src="{% static 'js/active-inavtive-students.js' %}"></script>
    </head>

    <body>
        <header> 
            <div class="logo">
                <img src="{% static 'photos/Logo.jpg' %}" alt="Logo">
            </div>
            <div class = "container"> 
                <nav class = "navbar">
                    <ul> 
                        <li> <a href="homepage.html"><i class="fa fa-fw fa-home"></i>Homepage</a> </li>
                        <li> <a href="add-new-student.html"><i class="fa fa-user-plus"></i> Add New student</a> </li>   
                        <li> <a href="students-data.html"><i class="fa fa-folder"></i> Students Data</a> </li>
                        <li> <a href="assign-department.html"><i class="fa fa-edit"></i> Assign Department </a> </li>  
                        <li> <a href="active-inactive-students.html"><i class="  fa fa-toggle-on"></i> Active/inactive Students</a> </li> 
                    </ul>
                </nav> 
            </div>
        </header>
    
        <h3 class="tableName">Active/Inactive Students</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Student ID</th>
                    <th>Full Name</th>
                    <th>GPA</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        
    </body>
</html>
