{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Affairs | Assign Department</title>
    <link rel="icon" sizes="192x192" href="{% static 'photos/Header.png'%}">
    <script src="{% static 'js/assign-department.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <header>
        <div class="logo">
        <img src="{% static 'photos/Logo.jpg' %}" alt="FCAI-CU" />
        </div>
        <div class="containerr">
        <nav class="navbar">
            <ul>
            <li>
                <a href="./homepage.html"><i class="fa fa-fw fa-home"></i> Homepage</a>
            </li>
            <li>
                <a href="./add-new-student.html"
                ><i class="fa fa-user-plus"></i> Add New student</a
                >
            </li>
            <li>
                <a href="./students-data.html"
                ><i class="fa fa-folder"></i> Students Data</a
                >
            </li>
            <li>
                <a href="./assign-department.html"
                ><i class="fa fa-edit"></i> Assign Department
                </a>
            </li>
            <li>
                <a href="./active-inactive-students.html"
                ><i class="fa fa-toggle-on"></i> Active/inactive Students</a
                >
            </li>
            <li>
                <a href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
            </li>
            </ul>
        </nav>
        </div>
    </header>

    <style>
        .input-field {
            background-color: transparent;
            border: none;
            outline: none;
        }

        @media screen and (max-width: 1000px) {
            .searchBox {
            margin-top: 100px;
            margin-bottom: 50px;
            }
            
            .depTableName {
                margin-top: 100px;
            }
        }
    </style>
        
        <div class="searchBox">
            <form method="post">
                {% csrf_token %}
                <tr>
                    <td>
                        <input type="text" name="id" required id="id_id" class="input-field" placeholder="Student ID....">
                    </td>
                </tr>
                <button id="searchButton" type="submit">
                    <i class="material-icons">
                        <img src="/static/photos/searchIcon.png" style="width: 15px;height: 15px; padding-top: 4px;">
                    </i>
                </button>
            </form>
        </div> 

    <h3 class="depTableName">Assign Department</h3>

    <table class="table">
        <!-- <caption>Department</caption> -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>GPA</th>
                <th>Level</th>
                <th>Department</th>
            </tr>

        </thead>

        
        <tbody id="tbody">
            <td id="sid" name="student-id">{{query.id}}</td>
            <td>{{query.name}}</td>
            <td>{{query.GPA}}</td>
            <td>{{query.level}}</td>
            {% if query.level == "1" or query.level == "2" %}
                <td>General</td>
            {% elif query.level == "3" or query.level == "4" %}
                <td id="drop_down" name="dropDep">{{query.department}}</td>
                <script>drop_down()</script>
            {% endif %}
        </tbody>
    </table>
    <form method="POST" action="{% url 'update_department' %}">
        {% csrf_token %}
        <button type="button" class="saveDep" onclick="saveOption()">
           <span>Save</span>
        </button>
    </form>
</body>
<script
    src="https://kit.fontawesome.com/1457508b99.js"
    crossorigin="anonymous"
    ></script>
</html>
