{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" href = "{% static 'css/stylesheet2.css' %}"/>
    <title>Student Affairs | Edit Student Data </title>
    <link rel="icon" sizes="192x192" href="{% static 'photos/Header.png'%}">
    <script>
        function confirmDeletion() {
            return confirm("Are you sure you want to delete this record?");
        }
        </script>
</head>

<body>
    <header>
        <div class="logo">
        <img src="{% static 'photos/Logo.jpg' %}" alt="FCAI-CU" />
        </div>
        <div class="containerr">
        <nav class="navbar">
            <ul>
            <li>
                <a href="{% url 'home_page' %}"><i class="fa fa-fw fa-home"></i> Homepage</a>
            </li>
            <li>
                <a href="{% url 'add_new_student' %}"
                ><i class="fa fa-user-plus"></i> Add New student</a
                >
            </li>
            <li>
                <a href="{% url 'student_data' %}"
                ><i class="fa fa-folder"></i> Students Data</a
                >
            </li>
            <li>
                <a href="{% url 'assignDepartment' %}"
                ><i class="fa fa-edit"></i> Assign Department
                </a>
            </li>
            <li>
                <a href="{% url 'active-inactive-students' %}"
                ><i class="fa fa-toggle-on"></i> Active/inactive Students</a
                >
            </li>
            <li>
                <a href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
            </li>
            </ul>
        </nav>
        </div>
    </header>
    
    <div class = "insert-box">
        <h2> Edit Existing Student Data </h2>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" id="studentName" value={{student.name}} name="name">
                <label for="studentName">Student Name</label>
            </div>
            <br/>

            <div class="user-box">
                <input type="date" id="studentDate" value={{ student.birth_day|date:'Y-m-d' }} name="dob">
                <label>Date of Birth</label>
            </div>
            <br/> 

            <div class="user-box">
                <input type="number" id="studentGpa" step="0.01" max = "4.0" min="0.0" value={{student.GPA}} name="GPA">
                <label >GPA</label>
            </div>
            <br/>

            <div id="studentGender" class="user-boxx">
                <label>Gender: </label>
                <input id="male" type="radio" name="gender" value="M" {% if student.gender == "Male" %}checked{% endif %}/>
                <label for="male">Male</label>

                <input id="female" type="radio" name="gender" value="F" {% if student.gender == "Female" %}checked{% endif %}/>
                <label for="female">Female</label>
            </div>
            <br/>

            <div class="user-box">
                <label for="studentLevel">Level:</label>
                <select id="studentLevel" name = "studentLevel" >
                    <option id="1" value="1" {% if student.level == "1" %}selected{% endif %}>1</option>
                    <option id="2" value="2" {% if student.level == "2" %}selected{% endif %}>2</option>
                    <option id="3" value="3" {% if student.level == "3" %}selected{% endif %}>3</option>
                    <option id="4" value="4" {% if student.level == "4" %}selected{% endif %}>4</option>
                </select>
            </div>
            <br/>

            <div id="studentStatus" class="user-boxx">
                <label>Status: </label>
                <input id="active" type="radio" name="status" value="Active" {% if student.status == "Active" %}checked{% endif %}/>
                <label for="active">Active</label>
                <input id="inactive" type="radio" name="status" value="Inactive" {% if student.status == "Inactive" %}checked{% endif %}/>
                <label for="inactive">Inactive</label>
            </div>
            <br/>

            <div class="user-box">
                <input type="text" id="departement" readonly value={{student.department}}>
                <label for="departement">Departement</label>
            </div>
            <br/> 

            <div class="user-box">
                <input type="email" id="studentEmail" value={{student.email}} name="email">
                <label for="studentEmail">Email</label>
            </div>
            <br/> 

            <div class="user-box">
                <input type="number" id="studentPhone" value={{student.phone}} name="phone">
                <label for="studentId">Mobile Number</label>
            </div>

            <div class = "EditButton">
                <button id="save" class = "save" type="submit"> Save </button>

                <a class='centerLink' href="{% url 'delete-student' student.id %}" onclick="return confirmDeletion()" >
                    <button id="delete" class = "delete" type="button"> Delete </button></a>
            </div>
            </form>
            <div class="EditButton">
            </div>
    </div>
</body>
<script
    src="https://kit.fontawesome.com/1457508b99.js"
    crossorigin="anonymous"
></script>
</html>


