<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/stylesheet.css" />
    <script
    src="https://kit.fontawesome.com/1457508b99.js"
    crossorigin="anonymous"
    ></script>
</head>
<body class="login-body">
    <header>
    <div class="logo">
        <img src="../photos/logo.jpg" alt="Logo" />
    </div>
    <div class="container">
        <nav class="navbar"></nav>
    </div>
    </header>
    <div class="login-box">
    <h2>Admin</h2>
    <form action="../hmtl/homepage.html" method="POST">
        <div class="user-box">
            <label>Email</label>
            <input type="text" name="email" required />
        </div>
        <div class="user-box">
            <label>Password</label>
            <input type="password" name="password" required />
        </div>
        <button type="submit" name="login">Log in</button>
    </form>
    </div>
</body>
</html>
