{% load static %}
<!DOCTYPE html>
    <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
      <script src="{% static 'js/students-data.js' %}"></script>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="clr"></div>
    </head>
    <body id="body">
      <header> 
        <div class="logo">
          <img src="{% static 'photos/Logo.jpg' %}" alt="Logo">
      </div>
        <div class = "container"> 
          <nav class = "navbar">
            <ul> 
              <li> <a href="homepage.html"><i class="fa fa-fw fa-home"></i>Homepage</a> </li>
              <li> <a href="add-new-student.html"><i class="fa fa-user-plus"></i> Add New student</a> </li>   
              <li> <a href="students-data.html"><i class="fa fa-folder"></i> Students Data</a> </li>
              <li> <a href="assign-department.html"><i class="fa fa-edit"></i> Assign Department </a> </li>  
              <li> <a href="active-inactive-students.html"><i class="  fa fa-toggle-on"></i> Active/inactive Students</a> </li> 
            </ul>
          </nav> 
        </div>
        <div class="clr"></div>
    </header>
      <h3 class="tableName">Students Data</h2>
        <table class="table" style="width:99%" id="myTable">
          <thead>
            <tr>
              <th id="studentId">ID</th>
              <th id="studentName">Student Name</th>
              <th id="studentGpa">GPA</th>
              <th id="studentLevel">Level </th>
              <th id="studentGender">Gedner</th>
              <th id="studentPhone">Phone</th>
              <th id="studentStatus">Status</th>
              <th id="studentDate">Birth Day</th>
              <th id="studentEmail">E-Mail</th>
              <th id="Departement">Departement</th>
              <th ></th>
            </tr>
          </thead>
          <tbody id="Body">
            {% for student in students %}
              <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.GPA}}</td>
                <td>{{student.level}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.status}}</td>
                <td>{{student.birth_day}}</td>
                <td>{{student.email}}</td>
                <td>{{student.departement}}</td>
                <td>
                  
                  <a class='centerLink' href='Editpage.html?id=" + student.id + "'><button class='Edit-S' onclick='edit()'><img class='edit_img_S' src="{% static 'photos/edit.png' %}"></button></a> <a class='centerLink'><button class='Delet-S' onclick='deleteFunction()'><i class='fa fa-fw fa-trash'></i></button></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
        <div class="clr"></div>
    </body>
</html>