@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
.container {
	width: 80%;
	margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  /*font-family: "Poppins", sans-serif;*/
  font-family: 'Work Sans'; 
  box-sizing: border-box;
}
body {
  background-color: #edf3f8;
  background-repeat: no-repeat;
  height: 90%;
  background-position: center;
  background-size: cover;
  margin: 0;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}


header {
  background: #295387;

}

header > p {
  color: white;
  font-size: 22px;
  padding: 5px;
  text-transform: uppercase;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #f3faee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #a8dadb;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #f3faee;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.logo img {
  float: left;
  padding: 10px ;
  width: 200px;
  height: 70px;
}

/* Insert Box */
.insert-box {
  justify-content: center;
  margin: 80px 40px;
  width: 800px;
  height: 920px;
  padding: 40px;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  #cedded;
  box-shadow: 0 15px 15px #457b9d;
  border-radius: 20px;
  margin-top: 50px;
}
.insert-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #457b9d;
  text-align: center;
}

.insert-box .user-box {
  position: relative;
}

.insert-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #1d3557;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #1d3557;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #1d3557;
  pointer-events: none;
  transition: 0.5s;
}

.insert-box .user-box input:focus ~ label,
.insert-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1d3557;
  font-size: 12px;
}

.insert-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #1d3557;
  font-size: 20px;
  border-radius: 20px;
  overflow: hidden;
  transition: 1s;
  margin-bottom: 60px;
  letter-spacing: 4px;
  border: none;
  outline: none;
  text-align:center;
  margin-left: 10px;
}

form button:hover {
  background-color: #067606be;
  color: #fff;
  cursor: pointer;
}

.delete:hover{
  background-color: rgba(167, 0, 0, 0.963);
  color: #fff;
  cursor: pointer;
}


select {
  width: 70px;
  height: 20px;
  position: relative;
  top: auto;
  bottom: 10px;
  left: 150px;
  background-color: #dee7ef;
  border-radius: 5px;
  font-size: 16px;
}

.user-boxx {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #1d3557;
  margin-bottom: 10px;
  background: transparent;
}

.EditButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* ------------------------------------------------------------------ */ 
/* --------------------------------- css for websitepage ---------------------------- */   
.mainbody {
  /*background-image: url(../imgs/background.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #d8e8f5;
  height: 90%;
  background-position: left;
  margin: 0;
  width: 100%;
}

.websitecontainer {
  width: 100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}

.row {
  /*display: flex;*/ 
  height: 88%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col:last-child {
 /* flex-basis: 50%; */ 
display: grid;
grid-template-columns: 1fr 1fr;
}


h1 {
  font-size: 50px;
  padding-bottom: 10px;
  color: #1d3557;
}

.card h5 {
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: #1d3557;
}

p {
  font-size: 15px;
  line-height: 20px;
  color: #457b9d;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 15px 20px;
  background-color: #cedded;
  transition: transform 0.5s;
}

.card p {
  font-size: 12px;
  line-height: 20px;
  color: #457b9d;
  text-align: center;
}

.card:hover {
  transform: translateY(-15px);

}

.card1{
  background-image: url(../photos/card1.jpg);
  background-position: center;
  background-size: cover;
}

.card2 {
  background-image: url(../photos/card2.jpg);
  background-position: center;
  background-size: cover;

}

.card3 {
  background-image: url(../photos/card3.jpg);
  background-position: center;
  background-size: cover;
}
.card4 {
  background-image: url(../photos/card4.jpg);
  background-position: center;
  background-size: cover;

} 

.card {
  cursor: pointer;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 400px;
  text-align: center;
}
.card .fadedbox {
  background-color: #cedded;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 130px 20px;
}
.card:hover .fadedbox {
  opacity: 0.8;
}
.card .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.card .text {
  font-size: 2.5em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.card:hover .text,
.card:focus .text {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

