 @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{
  font-family: 'Work Sans'; 
 }
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #295387;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo img {
  float: left;
  padding: 10px 0;
  width: 200px;
  height: 50px;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #f3faee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #a8dadb;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #f3faee;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  background-color: #edf3f8;
}

.tableName{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px 3px;
  color: #295387;
}

.table{
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border:  1px solid #c3d5e8;
  font-size: 0.9em;
  min-width: 400px;
  width: 50%;
}

.table thead tr{
  background-color: #295387;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td{
  padding: 15px 15px;
}

.table th{
  text-align: left;
}

.table tbody tr{
  border-bottom: 1px solid #d3e4f5;
}

.table tbody tr:nth-of-type(even){
  background-color: #c3d5e8;
}

.switch { 
  position: relative; 
  display: inline-block; 
  width: 32px; 
  height: 17px; 
} 
 
.switch input { 
  opacity: 0; 
  width: 0; 
  height: 0; 
} 


.slider { 
  position: absolute; 
  cursor: pointer; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: #9fb0c0; 
  -webkit-transition: .4s; 
  transition: .4s; 
} 

.slider:before { 
  position: absolute; 
  content: ""; 
  margin: 0; 
  padding: 0; 
  height: 15px; 
  width: 15px; 
  left: 1px; 
  bottom: 1px; 
  background-color: white; 
  -webkit-transition: .4s; 
  transition: .4s; 
} 

input:checked + .slider { 
  background-color: #067606be; 
} 

input:focus + .slider { 
  box-shadow: 0 0 1px #067606be; 
} 

input:checked + .slider:before { 
  -webkit-transform: translateX(15px); 
  -ms-transform: translateX(15px); 
  transform: translateX(15px); 
} 

.slider.round { 
  border-radius: 34px; 
} 

.slider.round:before { 
  border-radius: 50%; 
}
.Edit-S{
  background-color: #295387;
  border: none;
  text-align: center;
  transition: 0.4s;
  padding: 8px 25px;
  border-radius:12px;
  width: 35%;
  float: left;
}

.Edit-S:hover {
  background-color: #067606be;
  color: white;  
}

.Delet-S{
  background-color: #295387;
  border: none;
  color: white;
  text-align: center;
  transition: 0.4s;
  padding: 8px 25px;
  border-radius:12px;
  width: 35%;
  float: right;
}

.Delet-S:hover {
  background-color: rgba(167, 0, 0, 0.963);
  color: white;
}

.edit_img_S{
  color:white;
  width: 14px;
  height: 14px
}

.dropDep{
  width: 100%;
  padding: 7px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #dee7ef;
}

.dropTable.center{
  margin-left: auto;
  margin-right: auto;
  }

.depTableName{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 25px 3px;
  color: #295387;
}

.searchBox {
  position: absolute;
  button: 50%;
  left: 20px;
  top: 40px;
  transform:  translate(45px,45px);
  background: #c3d5e8;
  height: 25px;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
  display:flex;
  flex-direction: row-reverse;
  margin-top:10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.4s;

}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:right;
  padding: 10px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  outline: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchInput placeholder{
  color: white;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.saveDep:hover{
  background-color: #a8dadb;
}

.saveDep{
  background-color: #295387;
  border: none;
  color: #a8dadb;
  text-align: center;
  transition: 0.4s;
  padding: 12px 12px;
  border-radius:12px;
  width: 80px;
  margin: 10px 10px;
  position: right;
  margin-left: 70%;
  margin-top: 25px;
}

.saveDep:hover {
  background-color: #067606be;
  color: white;
}

.clr{
  clear:both;
}

/* -------------------------------------------  css for main homepage ---------------------------------- */

.dropbtn {
  background-color: #295387;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  left: 1280px;
  top: -30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.welcome {
  padding: 50px;
  padding-left: 20%;
  font-size: 40px;
}

/* ------------------------------- css for the login page -------------------------------------- */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #cedded;
  box-shadow: 0 15px 15px #457b9d;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #457b9d;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #1d3557;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #1d3557;
  outline: none;
  background: transparent;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #1d3557;
  border-radius: 30px;
  font-size: 16px;
  -webkit-text-decoration: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  overflow: hidden;
  transition: 1s;
  margin-top: 40px;
  letter-spacing: 1px;
  border: 1px solid #1d3557;
}

form button:hover {
  background-color: #457b9d;
  color: #ddd;
  cursor: pointer;
}